<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\长城开发项目\SourceCode\Kaifa.B2B.Solution\电子看板\Kaifa.Dashboards.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>kb</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Kaifa.Dashboards.Models.ApplicationDbContext, Kaifa.Dashboards" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="wmsConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=10.10.205.147;Initial Catalog=SCPRD;Integrated Security=False;User ID=sa;Password=Suwmsdb_2015" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.10.205.147;Initial Catalog=SCPRD;Integrated Security=False;User ID=sa;Password=Suwmsdb_2015" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\wmsConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=10.10.205.147;Database=SCPRD;User ID=sa;Password=Suwmsdb_2015;Trusted_Connection=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)wmsConnection-Web.config Connection String">
      <ParameterValue>Data Source=10.10.205.147;Initial Catalog=SCPRD;Integrated Security=False;User ID=sa;Password=Suwmsdb_2015</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>